Application-Id=YOUR_APPLICATION_ID
Api-Key=YOUR_API_KEY
DATABASE_URL=postgresql://user:password@localhost/mydatabase
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name
REDIS_URL=redis://redis:[PORT]/0
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0