DATABASE_URL=postgresql://user:password@localhost/mydatabase
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name

TRAVELTIME_APP_ID=YOUR_APPLICATION_ID
TRAVELTIME_API_KEY=YOUR_API_KEY

REDIS_URL=redis://redis:[PORT]/0
REDIS_HOST=redis
REDIS_PORT=6379_recomended
REDIS_DB=0_recomended

GMAIL_APP_PASSWORD=your_generated_16-character_password_without_space
SENDER_EMAIL=your_configured_gmail@gmail.com